.menu
{
    margin: auto;
    border: 1px lightgray solid;
    width: 35vw;
    padding: 5vw 2vw;
    margin-top: 150px;
    font-size: 2vw;
}

h1
{
    text-align: center;
    margin-top: 100px;
}

input
{
    font-size: 1.5vw ;
}